In [106]:
train_df['Full Bath'].iloc[594]

2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas_profiling

train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')

train_df = train_df.drop('id', axis = 1)

test_id = test_df['id']
test_df = test_df.drop('id', axis = 1)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall Qual    1350 non-null   int64
 1   Gr Liv Area     1350 non-null   int64
 2   Exter Qual      1350 non-null   object
 3   Garage Cars     1350 non-null   int64
 4   Garage Area     1350 non-null   int64
 5   Kitchen Qual    1350 non-null   object
 6   Total Bsmt SF   1350 non-null   int64
 7   1st Flr SF      1350 non-null   int64
 8   Bsmt Qual       1350 non-null   object
 9   Full Bath       1350 non-null   int64
 10  Year Built      1350 non-null   int64
 11  Year Remod/Add  1350 non-null   int64
 12  Garage Yr Blt   1350 non-null   int64
 13  target          1350 non-null   int64
dtypes: int64(11), object(3)
memory usage: 147.8+ KB

In [3]:
def preprocess_data(data, features):
    categorical_data = {'Po' : 1, 'Fa' : 2, 'TA' : 3, 'Gd' : 4, 'Ex' : 5}
    
    for feature in features:
        data[feature] = np.log1p(data[feature])
    
    # 범주화
    data['Exter Qual'] = data['Exter Qual'].map(categorical_data)
    data['Kitchen Qual'] = data['Kitchen Qual'].map(categorical_data)
    data['Bsmt Qual'] = data['Bsmt Qual'].map(categorical_data)
    
    # 리모델링 연차
#     data['update_house'] = data['Year Remod/Add'] - data['Year Built']
    
#     # 최종 품질
#     data['Total_Qual'] = data['Exter Qual'] + data['Kitchen Qual'] + data['Overall Qual']
#     # 2층 파악
#     data['2nd flr SF'] = data['Gr Liv Area'] - data['1st Flr SF']
#     data['2nd flr'] = data['2nd flr SF'].apply(lambda x : 1 if x > 0 else 0)
    
    data['Garage InOut'] = data.apply(lambda x : 1 if x['Gr Liv Area'] != x['1st Flr SF'] else 0, axis=1)
# #     data['Total Bsmt SF'] = 
    data['out_side_qual'] = + data['Exter Qual']
    data['Year Gap Remod'] = data['Year Remod/Add'] - data['Year Built']
    data['Car Area'] = data['Garage Area']/data['Garage Cars']
    data['2nd flr SF'] = data['Gr Liv Area'] - data['1st Flr SF']
    data['2nd flr'] = data['2nd flr SF'].apply(lambda x : 1 if x > 0 else 0)
    data['Total SF'] = data[['Gr Liv Area',"Garage Area", "Total Bsmt SF"]].sum(axis=1)
    data['Sum Qual'] = data[["Exter Qual", "Kitchen Qual", "Overall Qual"]].sum(axis=1)
    data['Garage InOut'] = data.apply(lambda x : 1 if x['Gr Liv Area'] != x['1st Flr SF'] else 0, axis=1)    
    return data


features_train = ['Total Bsmt SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area', 'target']
features_test = ['Total Bsmt SF', '1st Flr SF', 'Gr Liv Area', 'Garage Area']

train_df = train_df.drop(train_df[train_df['Garage Yr Blt'] == 2207].index)
train_df.reset_index(drop = True)

train_df = preprocess_data(train_df, features_train)
test_df = preprocess_data(test_df, features_test)

In [4]:
from pycaret.regression import *
house_reg = setup(data = train_df, train_size = 0.85, target = 'target', 
                  fold_shuffle = True, session_id= 6, use_gpu = False, )

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

In [5]:
def NMAE(true, pred):
    mae = np.mean(np.abs(true-pred))
    score = mae / np.mean(np.abs(true))
    return score

add_metric('NMAE', 'NMAE', NMAE)

Name                                                  NMAE
Display Name                                          NMAE
Score Function       <function NMAE at 0x00000159FD42B4C0>
Scorer                                   make_scorer(NMAE)
Target                                                pred
Args                                                    {}
Greater is Better                                     True
Custom                                                True
Name: NMAE, dtype: object

In [6]:
top4 = compare_models(exclude = ['ransac'], round = 6, fold = 10, n_select= 4)

In [7]:
catboost_reg = create_model('catboost', fold = 10, round = 6)

In [8]:
blender = blend_models(top4, )

In [11]:
tmp = tune_model(catboost_reg, n_iter = 100)

In [23]:
# for i in tmp.get_all_params:
#     print(i)

tmp.learning_rate_

0.029999999329447746

In [1]:
tmp

NameError: name 'tmp' is not defined

In [137]:
tmp_predict = predict_model(tmp, data = test_df)
tmp_predict.head()

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,update_house,Total_Qual,2nd flr SF,2nd flr,Garage InOut,Label
0,9,7.496097,4,2,6.555357,5,7.496097,7.496097,5,2,2007,2007,2007,0,18,0.000000,0,0,12.689828
1,6,6.987490,3,1,5.484797,3,6.987490,6.987490,3,1,1948,1950,1948,2,12,0.000000,0,0,11.781532
2,6,7.361375,4,2,6.089045,4,6.629363,6.646391,4,2,2000,2000,2000,0,14,0.714985,1,1,12.094589
3,6,7.801391,4,3,6.613384,4,7.055313,7.055313,4,2,2004,2004,2004,0,14,0.746078,1,1,12.527191
4,5,6.947937,3,2,6.532334,3,6.947937,6.947937,3,1,1968,1968,1991,0,11,0.000000,0,0,11.799510

In [138]:
def back_target(data):
    y_predict = np.floor(np.expm1(data))
    return y_predict
tmp_predict['Label'] =  back_target(tmp_predict['Label'])

sub_park = pd.DataFrame({
    'id' : test_id,
    'target': tmp_predict['Label']
})

sub_park.to_csv('submission220131(tune_6).csv', index = False)

In [ ]:
1.      # 0.0962	0.0208	0.1410	0.8607	0.0111	0.0081	0.0080
2.